<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md px-0">
        <h1 class="display-4 font-italic">{{ site.inform.name }}</h1>
        <p class="lead my-2"><b>{{ site.inform.descript1 }}</b></p>
        <p class="lead my-2">{{ site.inform.descript2 }}</p>

        <ul class="lead my-3">
        {% for const in site.relativeSite %}
            <li><strong>{{ const[0] }}</strong>: <a href="{{ const[1] }}" target="_blank">{{ const[1] }}</a></li>
        {% endfor %}
        </ul>
        <!--
            <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        -->
    </div>
</div>